#containerPrincipal {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    
    padding: 4em 20px 4em 20px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.imagens {
    width: 80%;
    height: 600px;

}

span {
    font-size: 0.8em;

    color: rgb(88, 88, 88);
}

p {
    width: 80%;
    text-align: justify;
}

/* .containerAux {
    width: 100%;

    display: flex;
    justify-content: ;
} */